[access "refs/*"]
	owner = group user/Libor Zoubek (lzoubek)
[access "refs/for/refs/*"]
	read = group user/Libor Zoubek (lzoubek)
	push = group user/Libor Zoubek (lzoubek)
	label-Code-Review = -2..+2 group user/Libor Zoubek (lzoubek)
	label-Verified = -1..+1 group user/Libor Zoubek (lzoubek)
	rebase = group user/Libor Zoubek (lzoubek)
	removeReviewer = group user/Libor Zoubek (lzoubek)
	submit = group user/Libor Zoubek (lzoubek)
[access "refs/heads/*"]
	read = group user/Libor Zoubek (lzoubek)
	create = group user/Libor Zoubek (lzoubek)
	push = +force group user/Libor Zoubek (lzoubek)
	pushMerge = group user/Libor Zoubek (lzoubek)
[access "refs/tags/*"]
	push = +force group user/Libor Zoubek (lzoubek)
	pushTag = group user/Libor Zoubek (lzoubek)
	pushSignedTag = group user/Libor Zoubek (lzoubek)
