<suite name="RHQ CLI JS/JAVA Test">

	<!--  default user/pass to run all CLI tests -->
	<parameter name="cli.username"  value="rhqadmin"/>
	<parameter name="cli.password"  value="rhqadmin"/>
	
	<!-- if any of comma-separated messages is found in CLI outout - test fails -->
	<parameter name="make.failure"  value="Login failed:,No such file or directory"/>
		<test name="Test">
	  	<classes>
			<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
				<parameter name="js.file"  value="example_test.js"/>
				<parameter name="expected.result"  value="Login successful"/>
				<methods>
					<include name="runJSfile"></include>		
				</methods>
			</class>
		</classes>
	</test>
</suite>
